h1.major{
  margin-bottom: 50px;
}

.paper{
  margin-bottom: 10px
}

.paper > .journal{
  font-style: italic;
}

.paper > a.title{
  font-size: 22px;
  color: black;
}

.paper > a.title:link{
text-decoration: none;
}

.paper > a.title:hover{
text-decoration: underline;
}
