h1.major{
  margin-bottom: 50px;
}

.paper{
  margin-bottom: 10px
}

.paper > .journal{
  font-style: italic;
}

.paper > a.title{
  font-size: 22px;
  color: black;
}

.paper > a.title:link{
  text-decoration: none;
}

.paper > a.title:hover{
  text-decoration: underline;
}

.link-list > a{
  font-size: 20px;
  color: black;
}

.link-list > a:link{
  text-decoration: none;
}

.link-list > a:hover{
  text-decoration: underline;
}

p.employment{
  margin-top: 20px;
  font-size: 18px;
}

p.address{
  font-size: 18px;
}
